.idea/
data/NYU/__pycache__
data/NYU/formatted_data
models/model-190532.data-00000-of-00001
models/model-190532.index
models/model-190532.meta
data/test*
__pycache__
jobs/
checkpoints/
.ipynb_checkpoints/
nyu_test/test*
nyu_test/nyu_depth_v2_labeled.mat
test.py
A.jpg
B.jpg
C.jpg